<div class="container">
  <div class="row">
    <h2 class='section-heading'>Contact us</h2>
    <div class="section-heading-divider"></div>
    <div class="section-content">
      <div class="col col-md-4">
        <div id="info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
        </div>
      </div>
      <div class="col col-md-8">
        <div id="google-map" ></div>
      </div>
    </div>
    <!-- end of section-content -->
  </div>
  <!-- end of row -->
</div>
<!-- end of container -->
