  <!-- contact us section -->
  <div  id = "contact_us">
    <div class="row">
               <div class="col-md-6" id = "contact_us_div">
                   <br>
                  <div class="row">
                  <div class="col-md-6" id>
                              <h3> Phone</h3> 
                      </div>
                      <!-- end of col-md-6 -->
                    <div class="col-md-6">
                          <h4>012345676</h4>
                  </div>
                  <!-- end of col-md-6 -->
                 </div>
                 <!-- end of row -->
                  <div class="row">
                  <div class="col-md-6" id>
                              <h3> Address</h3> 
                      </div>
                      <!-- end of col-md-6 -->
                    <div class="col-md-6">
                          <h4>Building #, Street name, City</h4>
                  </div>
                  <!-- end of col-md-6 -->
                 </div>                                
                 <!-- end of row -->
                  <div class="row">
                  <div class="col-md-6" id>
                              <h3> e-mail</h3> 
                      </div>
                      <!-- end of col-md-6 -->
                    <div class="col-md-6">
                          <h4>contact@company.com</h4>
                  </div>
                  <!-- end of col-md-6 -->
                 </div>
                 <!-- end of row -->
                 <br>
                 <br>
              <!-- Google maps -->   
                     <div id="google-map" style="width:100%;height:50vh;"></div>
                </div>
                <!-- end of col-md-6 -->

              <div class="col-md-6" id = "contact_us_title_div">
              <h1 id = "contact_us_title">Contact us </h1>
                  </div>
                  <!-- end of col-md-6 -->
        </div>
        <!-- end of row -->
  </div>
  <!-- end of contact us -->