<!DOCTYPE html>
<html>

<head>
	<title>Customize</title>
	<script src="script.js"></script>
</head>
<!-- uncomment for same header as main page -->

<!-- <div class="header-main">
		<div class="header-overlay">
			 --><h1>Customize your template</h1>
			<p>Be Creative</p>
<!-- 		</div>
</div>
 -->




<ul>
      <li><a href="#">publish</a></li>
      <li><a href="#">preview</a></li>
</ul>




<iframe src="http://localhost:3000/template/show?id=1" width="100%" height="600"></iframe>

<div class="container footer-cont">
		<p>Powered by <a href="#">Trustious</a></p>
	</div>



	





































