<!DOCTYPE html>
<html>

    
<head>
	<title>Customize</title>
	<script src="script.js"></script>
</head>
<!-- uncomment for same header as main page -->

<div class="header-customization">
		<div class="header-overlay">
			<h1>Customize your template</h1>
			<p>Be Creative</p>
		</div>
</div>

<div class = "customization-cont">
<h3>section1</h3>
<form action="">
<p>Fonts</p>
<input type="radio" name="s1Font" value="Font1">Font 1
<input type="radio" name="s1Font" value="Font2">Font 2 
</form>

<form action="">
<p>Colors</p>
<input type="radio" name="s1Color" value="color1">Color 1
<input type="radio" name="s1Color" value="color2">Color 2 
</form>

<h3>section2</h3>
<form action="">
<p>Fonts</p>
<input type="radio" name="s2Font" value="Font1">Font 1
<input type="radio" name="s2Font" value="Font2">Font 2 
</form>

<form action="">
<p>Colors</p>
<input type="radio" name="s2Color" value="color1">Color 1
<input type="radio" name="s2Color" value="color2">Color 2 
</form>
</div>


<div class="caption-custom-comp">
	<a href="#" class="btn btn-default">preview</a>
	<a href="#" class="btn btn-default">publish</a>
</div>

<iframe src="http://localhost:3000/template/show?id=1" width="100%" height="600"></iframe>

<div class="container footer-cont">
		<p>Powered by <a href="#">Trustious</a></p>
	</div>



	





































