<!DOCTYPE html>
<html>
<head>
	<title>Choose Template</title>
	<script src="script.js"></script>
</head>
<body>	
	<div class="leftbar"></div>
	<div >
		<form>
			<fieldset>
				<legend>Choose Your Template</legend>
				<div class="customize-list">
					<div id="list-options-1" class="list-options">
						<h3>Fonts pack</h3>
						<ul>
							<li>black</li>
							<li>white</li>
							<li>blue</li>
						</ul>
					</div>
					<div id="list-options-2" class="list-options">
						<h3>Fonts pack</h3>
						<ul>
							<li>black</li>
							<li>white</li>
							<li>blue</li>
						</ul>
					</div>
				</div>
				<div class="show-panel"></div>
			</fieldset>
		</form>
	</div>
	<div class="rightbar"></div>
</body>
</html>