<!DOCTYPE html>
<html>

    
<head>
    <%= stylesheet_link_tag 'customization-page' , media: 'all', 'data-turbolinks-track' => true %>
	<title>Customize</title>
	<script src="script.js"></script>
</head>
<!-- uncomment for same header as main page -->

<body>
	<div class="header-customization">
			<div class="header-overlay">
				<h1>Customize your template</h1>
				<p>Be Creative</p>
			</div>
	</div>
	<!-- end of header-customization -->

<div class = "customization-cont">
	<div class="container">
			<div class="col-md-1"></div>
					 <div class="col-md-5">
					            <br><br><br><br><br><br>
								<div class="list-group" id = "section-list">
								  <a href="#" class="list-group-item">Section 1</a>
								  <a href="#" class="list-group-item">Section 2</a>
								  <a href="#" class="list-group-item active">Section 3</a>
								  <a href="#" class="list-group-item">Section 4</a>
								</div>
								<!-- end of list-group -->
						</div>
						<!-- end of col-md-4 -->
			         <div class="col-md-6">
			               <p> Font<p>
	                           <div class="list-group list-group-horizontal">
					              <a href="#" class="list-group-item">Font 1</a>
					              <a href="#" class="list-group-item">Font 2</a>
					              <a href="#" class="list-group-item active">Font 3</a>
					              <a href="#" class="list-group-item">Font 4</a>
					            </div>
					            <!-- end of list-group -->
					       <p> Color Palette<p>
	                           <div class="list-group list-group-horizontal">
					              <a href="#" class="list-group-item">Palette 1</a>
					              <a href="#" class="list-group-item active">Palette 2</a>
					              <a href="#" class="list-group-item">Palette 3</a>
					            </div>
					            <!-- end of list-group -->
					</div>
					<!-- end of col-md-5 -->
			</div>
		<!-- end of container -->
   </div>
   <!-- end of customization-cont -->

	<div class="caption-custom-comp">
		<a href="#" class="btn btn-default">preview</a>
		<a href="#" class="btn btn-default">publish</a>
	</div>
	<!-- end of caption-custom-comp -->

    <iframe src="http://localhost:3000/template/show?id=1" width="100%" height="600"></iframe>

	<div class="container footer-cont">
			<p>Powered by <a href="#">Trustious</a></p>
    </div>
    <!-- end of container footer-cont -->

</body>
</html>


	





































