<!DOCTYPE html>
<html>
<head>
	<title>Choose Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>
</head>
<body>	
	<div class="leftbar"></div>
	<div >

		<form>
			<fieldset>
				<legend>Choose Your Template</legend> 

				<table>
					<tr>
						<td>				
							<div class="img">
								<a href="#">
									<img src="" alt="" width="290" height="190">
								</a>
							</div>
						</td>
						<td>
							<div class="img">
								<a href="#">
									<img src="" alt="" width="290" height="190">
								</a>
							</div>
						</td>
						<td>	
							<div class="img">
								<a href="#">
									<img src="" alt="" width="290" height="190">
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>				
							<div class="img">
								<a href="#">
									<img src="" alt="" width="290" height="190">
								</a>
							</div>
						</td>
						<td>
							<div class="img">
								<a href="#">
									<img src="" alt="" width="290" height="190">
								</a>
							</div>
						</td>
						<td>	
							<div class="img">
								<a href="#">
									<img src="" alt="" width="290" height="190">
								</a>
							</div>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>
	<div class="rightbar"></div>
</body>
</html>