/* Variables */
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
$cover-height: 500px;
$navbar-grey-color: #d2d2d2;
$footer-grey-color: #d2d2d2;
$footer-cappuccino-color: #be9b7b;
$footer-green-color: #4ec07e;
$text-grey-color: #ececec;
$primary-color: #fff;
$dark-color: #000;
$body-font-family: "Quattrocento Sans", "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
$headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
//Temp till using bootstrap sass
$screen-xs-max: 767px;
