//TODO add the sizes , maybe a base size better
.fa-1 {
  font-size: 25px;
}
.fa-2 {
  font-size: 25px;
}
.fa-3 {
  font-size: 25px;
}
.fa-4 {
  font-size: 25px;
}
.fa-5 {
  font-size: 25px;
}
.fa-6 {
  font-size: 25px;
}
body {
	font-family: $body-font-family;
}