/* Variables */
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
$cover-height: 500px;
$navbar-color: #fff;
$primary-color: #fff;
$body-font-family: "Quattrocento Sans", "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
$headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
//Temp till using bootstrap sass
$screen-xs-max: 767px;
