#centre_img {
	height: 100%;
	width: 100%;
	opacity: 0.9;
 filter: url(blur.svg#blur);
 -webkit-filter: blur(2px); 
 filter: blur(2px);
 position:relative;
}

.wrap {
    width: auto;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}

#title {
    position: absolute;
    margin: auto;
    top: 35%;
    left:0;
    right:0;
    bottom:0;
    font-size: 50px;
}

#seperation_line {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:13%;
    color: black;
}

#motto {
    position: absolute;
    margin: auto;
    top: 45%;
    left:0;
    right:0;
    bottom:0;
    font-size: 25px;
}

#nav {
    position: absolute;
    margin: auto;
    top: 5%;
    left:37%;
    right:0;
    bottom:0;
}

.wrapper {
    text-align: center;
}

a {
color: black;
font-size: 15px;
}

.container{
	text-align: center;
	height: 100%;
}


#about_us_title_div{
	text-align: center;
    height: 100%;
}

#about_us_title{
	font-size: 52px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#about_us_text_div{
    height: 100%;
}

#about_us_text{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

#catalogue_title{
	font-size: 52px;
}

#catalogue_div
{
	width: 100%;
	height: 100%;
	position: relative;
}

#catalogue_sub_div
{
	width: 100%;
	height: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#contact_us_title_div{
	text-align: center;
    height: 100%;
}

#contact_us_title{
	font-size: 52px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#catalogue{
    text-align: center;
}

#contact_us{
    margin-left: 10%;
}

h3{
	font-weight: bold;
}

footer{
	text-align: center;
}
