<hr>
<div class="footer-cappuccino">
<div class="footer-content">
  <div class="footer-top-content">
    <div class="powered-by-trustious">    
Powered by Trustious
    <div class="buttons">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-github"></i></a>
    </div>
    </div>
     </div>
</div>
</div>
