<div class="footer-right">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-github"></i></a>
</div>
<!-- end of footer-right -->

<div class="footer-left">
  <p>Company Name &copy; 2015</p>
  <br>
  <p>Powered by Trustious</p>
</div>
<!-- end of footer-left -->
