<div class="wrap">
  <img id="centre_img" src="some-furn.jpg" width="1035" height="200">
  <h1 id="title">Company name</h1>
  <hr id="seperation_line" width="10%" color="black">
  <h3 id="motto">motto goes here</h3>
  <div id="nav">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#about_us">About us</a></li>
      <li role="presentation"><a href="#catalogue">Catalogue</a></li>
      <li role="presentation"><a href="#contact_us">Contact us</a></li>
    </ul>
  </div>
  <!-- end of nav -->
</div>
<!-- end of wrap -->
