<div class="wrap">
  <%= image_tag "template-2/some-furn.jpg" , :id => "center_img", alt: "Cinque Terre" , :width => "1035" , :height => "200" %>
  <h1 id="title">Company name</h1>
  <h3 id="motto">motto goes here</h3>
  <!-- end of nav -->
</div>
<!-- end of wrap -->
