<ul class="row">
  <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
    <img class="img-responsive" src=<%= image_path "20.jpg" %> description = "first picture">
  </li>
  <!-- end of li -->
  <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
    <img class="img-responsive" src=<%= image_path "21.jpg" %> description = "second picture">
  </li>
  <!-- end of li -->
  <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
    <img class="img-responsive" src=<%= image_path "22.jpg" %> description = "third picture">
  </li>
  <!-- end of li -->
</ul>
<!-- end of ul -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">         
      <div class="modal-body">                
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->