
  <% content_for :head do %>
    <%= stylesheet_link_tag 'template-1/css/main' %>
    <%= javascript_include_tag 'template-1/app' %>
  <% end %>

  <div class="container">

    <nav class="navbar navbar-custom navbar-fixed-top ">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span><i class="fa fa-bars"></i></span>
          </button>

          <a href="#home" class="navbar-brand page-scroll">Brand</a>

        </div>
        <!--end of nav-header -->

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class='page-scroll' href="#home">Home</a>
            </li>
            <li><a class='page-scroll' href="#about-section">About</a>
            </li>
            <li><a class='page-scroll' href="#catalogue-section">Catalogue</a>
            </li>
            <li><a class='page-scroll' href="#contact-us-section">Contact us</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#contact-us-section"><i class="fa fa-envelope-o fa-4"></i></a>
            </li>
          </ul>

        </div>
        <!--end of nav-collapse -->
      </div>
      <!--end of container -->
    </nav>

    <!-- main cover image -->
    <div class="row" id="home">
      <div class="container">
        <img src="/templates/template-1/img/furn-1.jpg" class="cover-image">
      </div>
      <!-- end of container -->

    </div>
    <!-- end of main cover image-->

    <hr>

    <!-- About Section -->
    <section class="section" id="about-section">
      <div class="container">
        <div class="text-center row">
          <h2 class='section-heading'>About</h2>
          <div class="section-heading-divider"></div>
          <div class="section-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam, feugiat vel consequat ac, pharetra id ante. Praesent commodo ornare justo, in blandit dui pretium non. Integer vel faucibus ipsum. Pellentesque tempor fringilla
              libero sed interdum. Nam volutpat mauris id diam vehicula consectetur. Morbi congue urna vel nisi rutrum, ut fermentum mauris iaculis. Phasellus leo purus, sollicitudin eu malesuada eget, varius ut mi. Fusce volutpat ipsum eu convallis mattis.
              Aliquam eleifend rhoncus pulvinar. Aliquam posuere pulvinar nibh ac rutrum. Mauris maximus egestas orci, sed mattis ligula ultricies et. Phasellus et fermentum enim.</p>
          </div>
          <!-- end of section-content-->
        </div>
        <!-- end of text-center row -->
      </div>
      <!-- end of container -->
    </section>
    <!-- end of section -->
    <hr>

    <!-- Catalogue section -->
    <section class="section" id="catalogue-section">
      <div class="container">

        <div class="row ">
          <h2 class="section-heading">Catalogue</h2>
          <div class="section-heading-divider"></div>

          <div class="section-content">

            <div class="col col-md-4">
              <div class="box">
                <img src="/templates/template-1/img/furn-1.jpg" class="img-thumbnail" alt="Cinque Terre">
                <p class="text-center">400$</p>
              </div>
            </div>


            <div class="col col-md-4">
              <div class="box">
                <img src="/templates/template-1/img/furn-1.jpg" class="img-thumbnail" alt="Cinque Terre">
                <p class="text-center">500$</p>
              </div>
            </div>

            <div class="col col-md-4">
              <div class="box">
                <img src="/templates/template-1/img/furn-1.jpg" class="img-thumbnail" alt="Cinque Terre">
                <p class="text-center">699$</p>
              </div>
            </div>

          </div>
          <!-- end of section-content -->

        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </section>

    <hr>

    <!-- Contact us section -->
    <section class="section" id="contact-us-section">
      <div class="container">
        <div class="row">

          <h2 class='section-heading'>Contact us</h2>
          <div class="section-heading-divider"></div>

          <div class="section-content">

            <div class="col col-md-4">
              <div id="info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor diam</p>
              </div>
            </div>

            <div class="col col-md-8">
              <div id="googleMap" style="width:100%;height:50%;"></div>
            </div>

          </div>
          <!-- end of section-content -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </section>



    <footer>
      <hr>
      <p class='text-center'>Powered by: Trustious</p>
    </footer>

  </div>

  <!-- ************ JS ************ -->
   <!-- Beloved jQuery -->
  <script charset="utf-8" src="/templates/template-1/js/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/templates/template-1/js/bootstrap.min.js"></script>

  <!-- JQuery easing plugin -->
  <script src="/templates/template-1/js/jquery.easing.min.js"></script>

  <!-- Including maps script -->
  <script src="http://maps.googleapis.com/maps/api/js"></script>

  <!-- Initializing the map into the document -->
  <script charset="utf-8" src="/templates/template-1/js/maps.js"></script>

  <script src="/templates/template-1/js/app.js"></script>
