/**
 *  Normalize , variables , mixins , ...
 */
/* Normalize */
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
html,
body {
  margin: 0px;
  padding: 0px; }

.section {
  padding: 30px 0; }

/* Variables */
/*Mixins*/
/* Base styling */
.fa-1 {
  font-size: 25px; }

.fa-2 {
  font-size: 25px; }

.fa-3 {
  font-size: 25px; }

.fa-4 {
  font-size: 25px; }

.fa-5 {
  font-size: 25px; }

.fa-6 {
  font-size: 25px; }

body {
  font-family: "Quattrocento Sans", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.white_text {
  color: white; }

/**
 * Components
 */
/*All the components that doesn't belong to a specific group*/
.cover-image {
  padding-top: 80px;
  min-height: 500px;
  width: 100%; }
 .title h3 {
      font-size: 80;
      margin: 0;
      padding: 0;
      
      text-align: center;

        }

.section {
  padding: 50px 0; }

.section-heading {
  text-align: center;
  margin: 0;
  padding-bottom: 20px; }

.section-content {
  margin-top: 35px; }

.box {
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 3px;
  position: relative;
  background: #fff;
  padding-top: 20px; }

.shaded {
  box-shadow: 0 0 5px #888; }

/*Item hovering effect*/
.grid {
  padding: 20px 20px 100px;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  list-style: none; }
  .grid li {
    display: inline;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative; }
  .grid figure {
    max-width: 100%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 740px;
    height: auto;
    position: relative; }
    .grid figure img {
      max-width: 100%;
      display: inline;
      position: relative; }
  .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rgba(44, 63, 82, 0.9);
    color: #ed4e6e; }
    .grid figcaption h3 {
      margin: 0;
      padding: 0;
      color: #fff; }
    .grid figcaption a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: #ed4e6e;
      color: #fff; }

.cs-style-3 figure {
  overflow: hidden; }
  .cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .cs-style-3 figure figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s; }
    .cs-style-3 figure figcaption a {
      position: absolute;
      bottom: 20px;
      right: 20px; }

.cs-style-3 figure  .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }

.jumbotron {
  padding-top: 100px; }

/* Grey Footer styles */
.footer-grey {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 46px;
  z-index: 1;
  display: table;
  background-color: #d2d2d2; }

.footer-grey .footer-content {
  display: table-cell;
  vertical-align: middle; }

.footer-grey .footer-top-content {
  width: 100%;
  margin: auto; }

.footer-grey .powered-by-trustious {
  color: #000;
  font-size: 18px;
  text-align: center;
  padding-right: 20px; }

.footer-grey .buttons .fa {
  color: #0066CC;
  height: 12px; }

/* Green Footer styles */
.footer-green {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 46px;
  z-index: 1;
  display: table;
  background-color: #4ec07e; }

.footer-green .footer-content {
  display: table-cell;
  vertical-align: middle; }

.footer-green .footer-top-content {
  width: 100%;
  margin: auto; }

.footer-green .powered-by-trustious {
  color: #000;
  font-size: 18px;
  text-align: center;
  padding-right: 20px; }

.footer-green .buttons .fa {
  color: #0066CC;
  height: 12px; }

/* Cappuccino Footer styles */
.footer-cappuccino {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 46px;
  z-index: 1;
  display: table;
  background-color: #be9b7b; }

.footer-cappuccino .footer-content {
  display: table-cell;
  vertical-align: middle; }

.footer-cappuccino .footer-top-content {
  width: 100%;
  margin: auto; }

.footer-cappuccino .powered-by-trustious {
  color: #000;
  font-size: 18px;
  text-align: center;
  padding-right: 20px; }

.footer-cappuccino .buttons .fa {
  color: #0066CC;
  height: 12px; }

#google-map {
  height: 300px;
  width: 100%; }

/*Dividers*/
.section-heading-divider {
  height: 1px;
  width: 70px;
  margin: 10px auto;
  background: #000; }

/* Navigation bar styles */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(210, 210, 210, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d2d2d2; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
    .navbar-custom .navbar-brand .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #d2d2d2; }
      .navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: none; }
  .navbar-custom a {
    color: black; }
  .navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(210, 210, 210, 0.3); }
  .navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:active {
      outline: none;
      color: #ececec;
      background-color: transparent; }
    .navbar-custom .nav li a:focus {
      color: #000;
      background-color: transparent; }

  @media (max-width: 767){
   .grid figure {
    width: 100%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    position: relative; }
 }
@media (min-width: 767px) {
  .navbar {
    padding: 5px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: rgba(210, 210, 210, 0.9);
    -webkit-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out,padding 0.5s ease-in-out; }

  .top-nav-collapse {
    padding: 0;
    background-color: #d2d2d2; }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(210, 210, 210, 0.3); } }

/*# sourceMappingURL=main.css.map */
