<nav class="navbar navbar-custom navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-bars"></i></span>
      </button>
      <a href="#home" class="navbar-brand page-scroll">Brand</a>
    </div>
    <!--end of nav-header -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a class='page-scroll' href="#home">Home</a>
        </li>
        <li><a class='page-scroll' href="#about-section">About</a>
        </li>
        <li><a class='page-scroll' href="#catalogue-section">Catalogue</a>
        </li>
        <li><a class='page-scroll' href="#contact-us-section">Contact us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#contact-us-section"><i class="fa fa-envelope-o fa-4"></i></a>
        </li>
      </ul>
    </div>
    <!--end of nav-collapse -->
  </div>
  <!--end of container -->
</nav>
<!-- end of navbar -->
