<!-- nav pills -->
<div id="nav-pink">
<ul class="nav nav-pills">
  <li role="presentation"><a href="#about-section">About us</a></li>
  <li role="presentation"><a href="#catalogue-section">Catalogue</a></li>
  <li role="presentation"><a href="#contact-us-section">Contact us</a></li>
</ul>
</div>
<!-- end of nav -->