body{
	background-color: #E8E5E5;
}
form{
    width: 50%;
    margin: 0 auto;
    padding-top: 80px;
    padding-right: 310px;
 }

table{
	padding-top: 20px;
}

legend{
	font-size: 30px;	
	color: #4F4F4F;
}

div.img {
    margin: 5px;
    border: 1px solid #E8E5E5;
    height: auto;
    width: auto;
}

div.img img {
    display: inline;
    border: 1px solid #B2B2EB;	
}

div.img a:hover img {
    border:1px solid #000000;
}

div.leftbar {
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 120px;
	background-color: #8E8E8E;
}

div.rightbar {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	width: 120px;
	background-color: #8E8E8E;
}
