<h1 id="catalogue_title">Catalogue</h1>
<div id="catalogue_div">
  <div id="catalogue_sub_div">
    <div class="row">
      <div class="col-md-3" id></div>
      <div class="col-md-3" id>
        <img src="some-furn.jpg" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <!-- end of col-md-3 -->
      <div class="col-md-3">
        <img src="some-furn.jpg" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <!-- end of col-md-3 -->
      <div class="col-md-3" id></div>
    </div>
    <!-- end of row -->
    <br>
    <div class="row">
      <div class="col-md-3" id></div>
      <div class="col-md-3" id>
        <img src="some-furn.jpg" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <!-- end of col-md-3 -->
      <div class="col-md-3">
        <img src="some-furn.jpg" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <!-- end of col-md-3 -->
      <div class="col-md-3" id></div>
    </div>
    <!-- end of row -->
  </div>
  <!-- end of catalogue_sub_div -->
</div>
<!-- end of catalogue_div -->
