<div class="container">
  <div class="row ">
    <h2 class="section-heading">Catalogue</h2>
    <div class="section-heading-divider"></div>
    <div class="section-content">
      <ul class="grid cs-style-3 list-inline">
       <div class="owl-carousel" id="catalogue-items">
        <li>
          <figure>
            <%= image_tag "template-1/furn-1.jpg" , alt: "Cinque Terre" %>
            <figcaption>
              <h3>Cool bedroom</h3>
              <span>800$</span>
              <a href="#catalogue-section">Take a look</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "template-1/furn-1.jpg" , alt: "Cinque Terre" %>
            <figcaption>
              <h3>Cooler bedroom</h3>
              <span>1200$</span>
              <a href="#catalogue-section">Take a look</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "template-1/furn-1.jpg" , alt: "Cinque Terre" %>
            <figcaption>
              <h3>Coolest bedroom</h3>
              <span>999.99$</span>
              <a href="#catalogue-section">Take a look</a>
            </figcaption>
          </figure>
        </li>
       </div>
      </ul>
    </div>
    <!-- end of section-content -->
  </div>
  <!-- end of row -->
</div>
<!-- end of container -->
